.block2 {
  
  max-width: 100%;


  &__best {
    font-size: 32px;
    margin-bottom: 15px;
    
    max-width: 1200px;
    
  }

  &__bord {
    max-width: 1279px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__item {
    display: inherit;
    width: calc(50% - 10px);
    padding: 14px 14px 14px 14px;
    margin-bottom: 10px;
    background: #fff;
    border-radius: 5px;
    
  }

  &__text {
    margin-top: 20px;
    min-width: 250px;
  }

  &__price {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background: #fff58c;
    max-width: 120px;
    text-align: center;
  }


  &__image {
    width: 50%;
    object-fit: contain;
    
  }
}