.block1 {
 display: flex;
 align-items:center;
 justify-content: center;

 @media (max-width: $mobile) {

 flex-wrap: wrap;
 }

  &__slide {
    margin-top: 100px;
    margin-bottom: 50px;
    max-width:600px;

    @media (max-width: $mobile) {
      margin-bottom: 0;
    }
  }

  &__image-1 {
    width: 100%;

    @media (max-width:$tablet) {
      max-width:480px;

    }
  }

  &__text {
    align-items:center;
    text-align: center;
    margin-top: 40px;

    &-slide {
      font-size: 42px;
      max-width:500px ;

      @media (max-width:$tablet) {
        font-size: 22px;
        max-width: 280px;
      }
    }

  }

  &__button {
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px 14px 10px 14px;
    background-color: #fff;
    margin-top: 50px;
    font-size: 18px;
    max-width: 300px;

    @media (max-width: $mobile) {
      margin-bottom: 100px;
    }
  }

}