.block1 {
 display: flex;
 align-items:center;
 justify-content: center;

 @media (max-width: $mobile) {
 margin-top: -150px;
 flex-wrap: wrap;
 }

  &__slide {
    // margin-top: 100px;
    margin-bottom: 50px;
    max-width:600px;
    
    display: flex;
    align-content: center;
    

    @media (max-width: $mobile) {
      margin-bottom:40px;
    }
  }

  &__image-1 {
    width: 100%;
    max-height: 400px;
    object-fit: contain;
    align-self: center;
  

    @media (max-width:$tablet) {
      max-width:480px;


    }
  }

  &__text {
    align-items:center;
    text-align: center;

   @media (max-width:$mobile) {
          margin-top: -200px;
  
        }

    &-slide {
      font-size: 42px;
      max-width:500px ;
      margin-bottom: 50px;

      @media (max-width:$tablet) {
        font-size: 22px;
        max-width: 280px;


        
      }
    }

  }

  &__button {
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px 14px 10px 14px;
    background-color: #fff;
    font-size: 18px;
    max-width: 300px;
    cursor: pointer;
    outline: none;

    &:hover {
      background: #000;
      color: #fff;
      transition: 300ms ease;
    }

    @media (max-width: $mobile) {
      margin-bottom: 100px;
    }
  }

}

.mobile {
  padding-bottom: 50px;
}

.swiper-button-prev,
.swiper-button-next {

  @media(max-width:$mobile) {

    background: none ;
  }
}

.swiper-pagination {
  display: none;

  @media(max-width:$mobile) {
    margin-bottom: 50px;
    display: inline ;
  }
}
