@import "_variable.scss";
@import "_block1.scss";
@import "_block2.scss";
@import "_block3.scss";

* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 100%;
  background: #f2f2f2; 
  font-family:'Montserrat', sans-serif;
}

.container {
  padding: 14px 14px 14px 14px;
  margin: 5px;
  max-width: 1920px;

}

h1 {
  font-size: 54px;

  @media (max-width:$tablet) {
    font-size: 34px;
  }
}

h2 {
  font-size: 24px;
  margin-top: 15px;
}

h3 {
  font-size: 24px;
  font-weight: normal;
  color:#919191;
}

.white {
  width:100%;
  background: #fff;
}

section {
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: center;
}